<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div style="text-align: center; padding: 0.5rem 0; font-size: 0.9rem;">
      <a href="mailto:{{ site.email }}">{{ site.email }}</a> &middot;
      <a href="https://github.com/terrytaylorbonn/auxdrone/wiki">Wiki</a> &middot;
      <a href="https://substack.com/@ziptieai">Substack</a> &middot;
      <a href="https://drive.google.com/drive/folders/1-Adawag9uA8_bq-hDF-nOuPYaRLz1eEO">Lab notes (Gdrive)</a> &middot;
      <a href="https://github.com/terrytaylorbonn?tab=repositories">Git</a> &middot;
      <a href="https://www.linkedin.com/in/terry-taylor-biz">LinkedIn</a> &middot;
      <a href="https://www.youtube.com/@ziptieai">Youtube</a> &middot;
      26.0429
    </div>
  </div>

</footer>
