---
---

@import "minima";

.wrapper {
  max-width: 1100px;
}

pre code.language-python {
    color: #88c0d0;
}


pre.language-output {
    background-color: #a20b1a;
    padding: 12px;
    border-radius: 6px;
}

// ddddddddddddddddd



pre:has(code.language-text2) {
   background-color: #f3eebf;  /* full block background */
}

pre code.language-text2 {
    color: #091e3d;
    background-color: #f3eebf;
    //font-style: bold;
}


pre:has(code.language-output) {
    background-color: #f1f8f7;  /* full block background */
}

pre code.language-output {
    color: #1769db;
    background-color: #f1f8f7;
    //font-style: bold;
}

////////////////////////////////////

pre.language-output xxx {
    color: #33dee9;
    font-weight: bold;
}

pre code.language-text,
pre code.language-plaintext {
    color: #d8dee9;
    background-color: #2e3440;
    font-style: italic;
}
